.outer
{
    width: 90vw;
    background-color: #fbeecb;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-rows:auto repeat(5,100px);
    column-gap: 20px;
}
h2
{
    text-align: center;
    font: 1.5rem Helvetica,Arial,sans-serif;
    padding: 1em 0 0;
    width: 100%;
}
h1
{
    text-transform: center;
    font: 3em Helvetica,arial,sans-serif;
    text-align: center;
    grid-column: 1/span 3;
}
.inner
{
    border-radius: 8px;
}
.block1,.block3
{
    background-color: #71ed89;
}
.block2
{
    background-color: #fac789;
}
.block4,.block5,.block8,.block9
{
    background-color: #ee7d91;
}
.block6
{
    background-color: #f089;
}
.block7
{
    background-color: #f078;
}
.block10
{
    background-color: #de9cd9;
}


.block2
{
    grid-area: 2/2/7/3;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,100px);
    column-gap: 20px;
}
#block2
{
    grid-area: 1/1/1/7;
}

.inner1
{
    display: grid;
    border-radius: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,100px);
}
#block4
{
    grid-area: 2/1/3/4;
}
#block5
{
    grid-area: 2/4/3/7;
}
#block6
{
    grid-area: 3/1/4/3;
}
#block3
{
    position: absolute;
}
#block7
{
    grid-area: 3/3/4/7;
}
#block8
{
    grid-area:4/3/5/5;
}
#block9
{
    grid-area: 4/5/5/7;
}
#block10
{
    grid-area:5/3/6/7;
}